.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-color: #2579ab;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px 30px;
  font-size: 30px;
  margin: 10px;
}

button:focus {
  outline: none;
}
